<header>
    <h1>HN Feed</h1>
    <h3>We <3 hacker news!</h3> 
</header>
<main>
    <table mat-table [dataSource]="articleList">
        <ng-container matColumnDef="title">
            <td mat-cell *matCellDef="let article" (click)="redirectTo(article)"> <span
                    class="title">{{ article.story_title || article.title }}</span> <span class="author">- {{article.author}} -</span> </td>
        </ng-container>
        <ng-container matColumnDef="time">
            <td mat-cell *matCellDef="let article" (click)="redirectTo(article)"> <span class="time"> {{article.created_at}} </span> </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <td mat-cell *matCellDef="let article">
                <button class="delete-btn" mat-icon-button color="warn" (click)="deleteArticle(article)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr class="row" mat-row *matRowDef="let article; columns: ['title','time','delete'];"></tr>
    </table>
</main>