.row{
    background-color: #fff;
    .author{
        color:#999
    }
    .title, .time{
        color: #333;
        font-size: 13pt;
    }
    .delete-btn{
        display: none;
    }
}
.row:hover{
    background-color: #fafafa;
    cursor: pointer;
    .delete-btn{
        display: inline;
    }

}
header{
    background-color: gray;
    color: white;
    height: 300px;
    *{
        margin: 0px;
        position: relative;
        top: 35%;
        left: 5%;
        width: max-content;
    }
}
table{
    width: 95%;
    margin: auto;
    td{
        min-width: 40px;
    }
}